<div class="chat-container">
    <div class="chat-header">
      <h1>Group chat App <div class="users"></div></h1>
    </div>
    <div class="chat-body" chatbody>
      <div class="incomingMsg" incoming>
        <p class="message-text" textIn >How are you?</p>
      </div>
    </div>
    <div class="chat-footer">
      <input type="text" placeholder="Type your message...">
      <button submit>Send</button>
    </div>
  </div>